In [14]:
pd.set_option('display.max_rows', 200)

In [11]:
import pandas as pd

In [12]:
# reading in the data
labels = pd.read_csv('labels.csv')
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [18]:
# checking whether the dataframe has empty values
print(labels[labels['id'] == ''].index)
print(labels[labels['breed'] == ''].index)

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [17]:
occurrences = labels['breed'].value_counts()
print(occurrences)

scottish_deerhound                126
maltese_dog                       117
afghan_hound                      116
entlebucher                       115
bernese_mountain_dog              114
shih-tzu                          112
great_pyrenees                    111
pomeranian                        111
basenji                           110
samoyed                           109
airedale                          107
tibetan_terrier                   107
leonberg                          106
cairn                             106
beagle                            105
japanese_spaniel                  105
australian_terrier                102
blenheim_spaniel                  102
miniature_pinscher                102
irish_wolfhound                   101
lakeland_terrier                   99
saluki                             99
papillon                           96
norwegian_elkhound                 95
whippet                            95
siberian_husky                     95
pug                                94
chow                               93
italian_greyhound                  92
pembroke                           92
ibizan_hound                       91
border_terrier                     91
newfoundland                       91
lhasa                              90
silky_terrier                      90
dandie_dinmont                     89
bedlington_terrier                 89
sealyham_terrier                   88
irish_setter                       88
rhodesian_ridgeback                88
old_english_sheepdog               87
collie                             87
boston_bull                        87
schipperke                         86
bouvier_des_flandres               86
kelpie                             86
english_foxhound                   86
african_hunting_dog                86
bloodhound                         85
bluetick                           85
weimaraner                         85
saint_bernard                      84
labrador_retriever                 84
english_setter                     83
chesapeake_bay_retriever           83
norfolk_terrier                    83
scotch_terrier                     82
groenendael                        82
wire-haired_fox_terrier            82
basset                             82
kerry_blue_terrier                 82
irish_terrier                      82
yorkshire_terrier                  82
greater_swiss_mountain_dog         82
malamute                           81
gordon_setter                      81
keeshond                           81
west_highland_white_terrier        81
dingo                              80
toy_poodle                         80
mexican_hairless                   80
clumber                            80
affenpinscher                      80
standard_poodle                    79
miniature_poodle                   79
staffordshire_bullterrier          79
toy_terrier                        79
welsh_springer_spaniel             79
irish_water_spaniel                78
appenzeller                        78
sussex_spaniel                     78
miniature_schnauzer                78
norwich_terrier                    78
black-and-tan_coonhound            77
dhole                              76
shetland_sheepdog                  76
rottweiler                         76
cardigan                           76
bull_mastiff                       75
boxer                              75
english_springer                   75
german_short-haired_pointer        75
pekinese                           75
great_dane                         75
borzoi                             75
american_staffordshire_terrier     74
doberman                           74
cocker_spaniel                     74
malinois                           73
brittany_spaniel                   73
standard_schnauzer                 72
curly-coated_retriever             72
flat-coated_retriever              72
border_collie                      72
redbone                            72
kuvasz                             71
chihuahua                          71
soft-coated_wheaten_terrier        71
french_bulldog                     70
vizsla                             70
otterhound                         69
german_shepherd                    69
walker_hound                       69
tibetan_mastiff                    69
giant_schnauzer                    69
golden_retriever                   67
brabancon_griffon                  67
komondor                           67
eskimo_dog                         66
briard                             66
Name: breed, dtype: int64

In [15]:
# checking the label of an image which contains more than one dog breed
labels[labels['id'] == '00b7d114bc5166a629a3cc03d9329120']

                                  id                breed
27  00b7d114bc5166a629a3cc03d9329120  irish_water_spaniel